.button {
  border: none;
  background: none;
  cursor: pointer;
  transition: all .3s;
}

.button--route {
  color: #21325E;
  transition: all .3s;
}

.button--route:hover {
  color: rgba(33, 50, 94, .5);
}

.button--basic:hover {
  transform: scale(1.2);
  margin: 0 2rem;
}
